* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #f3f4f6;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 12%;
  max-height: 16%;
  display: flex;
  gap: calc(6%);
  padding: 24px;
  justify-content: space-around;
  background-color: #fff;
}

header nav ul {
  display: flex;
  gap: 24px;
}

header nav ul li {
  position: relative;
  list-style: none;
}

header .logo {
  margin-right: 8px;
}

header nav ul li a {
  text-decoration: none;
  color: #9698a6;
  font-size: large;
}

.btn {
  padding: 16px;
  background: linear-gradient(to left, #31d35c, #2bb7da);
  border: none;
  border-radius: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
}

.btn a {
  color: #f3f4f6;
  text-decoration: none;
  font-size: large;
}

header nav ul li a:hover {
  color: #2d314d;
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

li::before {
  content: "";
  position: absolute;
  top: 190%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  background-color: #2bb7da;
  height: 3px;
}

li:hover::before {
  width: 100%;
  right: 0;
  transition: 0.38s ease-in-out;
}
.btn a:hover {
  font-weight: 600;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

header .burger {
  display: none;
  width: 64px;
  padding: 8px;
}
/* responsive ici*/
@media (max-width: 768px) {
  header {
    justify-content: space-between;
    gap: 0;
    padding: 40 0px;
  }

  header .burger {
    display: flex;
    cursor: pointer;
  }

  header .btn {
    display: none;
  }

  header nav ul {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: absolute;
    top: calc(2 * 64px);
    width: 50%;
    justify-content: center;
    padding: 32px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  header nav ul.active {
    display: flex;
    transform: translateY(-16x);
    transition: 0.3s ease;
  }
}
/* fin responsive header*/

main .hero {
  display: flex;
  height: calc(3 * 7vh);
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-top: calc(32px + 256px);
}

main .hero .img_box {
  width: 50%;
  background-image: linear-gradient(#4440), url("./images/bg-intro-desktop.svg");
  background-size: cover;
  position: relative;
}

main .hero .img_box img {
  display: block;
  margin-top: auto;
  width: 100%;
  transform: translateY(116px);
}

main .hero .para {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  margin-left: 160px;
}

main .hero .para h1 {
  color: #2d314d;
  font-size: 40px;
}

main .hero .para p {
  color: #9698a6;
  font-size: 24px;
}
.hero .btn {
  height: 32px;
  width: 160px;
}
/*hero responsive*/
@media (max-width: 768px) {
  main .hero {
    width: 100vw;
    height: inherit;
    margin: 0;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 94px;

    background: #000;
  }

  main .hero .img_box {
    width: 100%;
    background: url("./images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  main .hero .para {
    margin: 0;
    padding: 0 0 32px;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #fff;
  }
}
/*fin responsive hero*/

.why_us {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ccc3;
  margin-top: 53.5vh;
  padding: 24px 0 40px 0;
  gap: 64px;
  z-index: -1000;
}

.why_us p {
  font-size: 16px;
  color: #9698a6;
}
h3 {
  color: #2d314d;
}

.why_us .box_card {
  width: 80%;
  display: flex;
  justify-content: space-around;
  gap: 32px;
}
.why_us .box_para {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;
  margin-top: 40px;
}
/*responsive why us*/
@media (max-width: 768px) {
  .why_us {
    width: 100%;
    margin-top: 72px;
    text-align: center;
    align-items: center;
  }
  .why_us .box_para {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .why_us .box_card {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
/* end why us responsive*/

.article {
  background-color: #f3f4f6;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

.article .parent {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.article .parent .box_article {
  height: 80%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.article .parent .box_article .show_article {
  width: 24%;
  height: 60%;
  position: relative;
  display: flex;
  flex: 1 1 24%;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.article .parent .show_article .img_part {
  position: relative;
  height: 165px;
  overflow: hidden;
  padding: 8px;
}

.article .parent .show_article .img_part img {
  display: block;
  margin: auto;
  width: 100%;
  overflow: hidden;
}

.article .parent .show_article .para_article {
  display: flex;
  height: 50%;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
}

.article h6,
p {
  color: #9698a6;
}

.article h3:hover {
  color: #31d35c;
  cursor: pointer;
}
/*article responsive*/
@media (max-width: 768px) {
  .article .parent {
    width: 100%;
    align-items: center;
  }
  .article .parent .box_article {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .article .parent .box_article .show_article {
    width: 100%;
  }
}
/*end article responsive*/

footer {
  width: 100%;
  position: relative;
  padding: 54px 0 54px 0;

  background: #2d314d;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer .parent {
  width: 80%;

  display: flex;
  justify-content: space-around;
}

footer .parent .box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer .reseau {
  display: flex;
  justify-content: space-between;
}
/*footer responsive*/
@media (max-width: 768px) {
  footer .parent {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  footer .parent .box {
    align-items: center;
  }
  footer .reseau {
    gap: 16px;
  }
}
